.container {
    margin-top: 10px;
}
.title {
    color: #7a7171;
    border-bottom: 1px solid #7a7171;
    padding-bottom: 20px;

}

.filters {
    margin-top: 10px;
}

.icon {
    font-size: 32px;
}

.switch {
    height: 500px !important;
    width: 200px !important;
}